@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@531&display=swap');
body{
    background-color: rgb(204, 235, 235);
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}
.list{
    display: flex;
    flex-direction: column;
}
.filterSection{
    display: flex;
    flex-direction: column;
}
.filterSection>span{
    text-align: center;
    font-size: 1.2rem;
    background: rgb(56, 148, 148);
    color: white;
    width: calc(70% + 40px);
    margin-left: 15%;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px 10px 0px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 18px;
}
#filter{
    width: calc(70% + 40px);
    margin: 0 0 0 15%;
    padding: 20px 40px 20px 40px ;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
    font-size: 1.2rem;
    color: hsl(180, 14%, 20%);
    font-weight: 1000;
}
#filter>option{
    font-size: 1.2rem;
    color: hsl(180, 14%, 20%);
    font-weight: 1000;
}
#filter>option:active{
    background-color: hsl(180, 14%, 20%);
    color: white;
}
#data-item{
    width: 70%;
    margin: 2rem 15% 2rem 15%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 18px;
}
#data-item:hover{
    border-left-color: rgb(56, 148, 148);
    border-left-width: 5px;
    border-left-style: solid;
}
#data-item>span{
    display: none;
}
.partOne>img{
    /* width: 100%; */
    height: auto;
}
.partTwo{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partThree>li{
    font-weight: 700;
    border-radius: 3px;
    color: rgb(56, 148, 148);
    padding: 6px;
    margin: 5px;
    font-size: 0.8rem;
    background-color: rgb(222, 236, 236);
}
.partThree>li:hover{
    cursor: pointer;
    background-color: rgb(56, 148, 148);
    color: rgb(222, 236, 236);
}
.rowTwo{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 1000;
    opacity: 0.9;
}
.rowThree>div{
    color: rgb(123, 142, 142);
}
.rowThree{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 500;
}
.day{
    padding: 0px 6px 0px 0px;
}
.time,.location{
    padding: 0px 6px 0px 6px;
}
.new,.featured{
    color: white;
    border-radius: 13px;
    margin-left: 0.5rem;
    padding: 5px 10px 2px 10px;
    font-size: 12px;
}
.featured{
    background-color:hsl(180, 14%, 20%);
}
.new{
    background-color: rgb(56, 148, 148);
}
.rowOne{
    display: flex;
    flex-direction: row;
}
.company{
    font-size: 1rem;
    color: rgb(56, 148, 148);
    font-weight: 600;
}
.rowThree{
    display: flex;
    flex-direction: row;
}
.partThree{
    justify-content: flex-end;
    list-style-type: none;
    margin: auto;
    display: flex;
    margin-right: 0;
    margin-inline-start: auto;
}
@media screen and (max-width: 480px){
    .filterSection>span{
        width: 90%;
        margin: 1rem 0 0 5%;
        font-size: 1rem;
    }
    #filter{
        width: 90%;
        margin: 0rem 0% 0 5%;
        font-size: 1rem;
    }
    #filter>option{
        font-size: 1rem;
        color: gray;
        font-weight: 1000;
    }
    #data-item{
        width: auto;
        flex-direction: column;
        margin: 2rem 5% 2rem 5%;
    }
    .partOne{
        margin-top: -43px;
    }
    .partOne>img{
        height: 8vh;
    }
    .partTwo{
        padding-left: 0;
        padding-bottom: 1rem;
    }
    .partThree{
        border-top: solid #80808054;
        padding-top: 1rem;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-inline-start: 0;
    }
    .partThree>li{
        font-size: 0.6rem;
    }
    .partTwo>div{
        padding: 0.3rem;
    }
    .day{
        padding: 0px 3px 0px 0px;
    }
    .time,.location{
        padding: 0px 3px 0px 3px;
    }
    .new,.featured{
        /* color: white;
        border-radius: 13px;
        margin-left: 0.5rem;
        padding: 5px 10px 2px 10px; */
        font-size: 7px;
    }
    .company{
        font-size: 0.75rem;
    }
    .rowTwo{
        font-size: 0.8rem;
    }
    .rowThree{
        justify-content: unset;
        font-size: 11px;
    }
  }